Repository commercionetwork/commercionetwork, pull requests merged in 2021-12, with the labels that each got.

#260 faq implemented
  docs/nodes/validator-node-handling.md
  docs/nodes/validator-node-installation.md
Labels: ready to merge

#271 fabio/did
  docs_3_0/static/openapi.yml
  proto/commercionetwork/did/didDocument.proto
  proto/commercionetwork/did/didPowerUpRequest.proto
  proto/commercionetwork/did/genesis.proto
  proto/commercionetwork/did/query.proto
  proto/commercionetwork/did/tx.proto
  x/common/types/strings.go
  x/common/types/strings_test.go
  x/did/client/cli/query.go
  x/did/client/cli/queryDidDocument_test.go
  x/did/client/cli/queryShowIdentity.go
  x/did/client/cli/queryShowIdentity_test.go
  x/did/client/cli/tx.go
  x/did/client/cli/txDidDocument.go
  x/did/client/cli/txSetIdentity.go
  x/did/client/cli/txSetIdentity_test.go
  x/did/client/rest/query.go
  x/did/genesis.go
  x/did/handler.go
  x/did/keeper/did_document.go
  x/did/keeper/did_document_test.go
  x/did/keeper/grpc_query.go
  x/did/keeper/grpc_query_identity.go
  x/did/keeper/grpc_query_test.go
  x/did/keeper/keeper.go
  x/did/keeper/keeper_test.go
  x/did/keeper/msg_server.go
  x/did/keeper/msg_server_id.go
  x/did/keeper/msg_server_id_test.go
  x/did/keeper/msg_server_test.go
  x/did/keeper/querier.go
  x/did/keeper/timestamp.go
  x/did/keeper/timestamp_test.go
  x/did/legacy/v3.0.0/migrate.go
  x/did/legacy/v3.0.0/migrate_test.go
  x/did/legacy/v3.0.0/types.go
  x/did/types/codec.go
  x/did/types/commons_test.go
  x/did/types/did.go
  x/did/types/didDocument.pb.go
  x/did/types/didPowerUpRequest.pb.go
  x/did/types/errors.go
  x/did/types/keys.go
  x/did/types/msgSetDidDocument.go
  x/did/types/msgSetDidDocument_test.go
  x/did/types/msg_id.go
  x/did/types/proof.go
  x/did/types/pubkey.go
  x/did/types/query.pb.go
  x/did/types/query.pb.gw.go
  x/did/types/rfc3986.go
  x/did/types/service.go
  x/did/types/tx.pb.go
  x/did/types/types.go
  x/did/types/validation.go
  x/did/types/validation_test.go
Labels: Did Module

#273 Fabio/government
  x/government/client/cli/query.go
  x/government/client/cli/queryGovernment.go
  x/government/keeper/commons_test.go
  x/government/keeper/grpc_query.go
  x/government/keeper/grpc_query_government.go
  x/government/keeper/grpc_query_test.go
  x/government/keeper/keeper.go
  x/government/keeper/keeper_government.go
  x/government/keeper/keeper_test.go
  x/government/keeper/msg_server.go
  x/government/keeper/msg_server_government.go
Labels: Government Module
